{%extends 'base.html'%}
{%block title%}
<title>Create quiz</title>
{%endblock%}
  {%block content%}
  {%load static%}
  <div style="margin-top: 100px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-3"></div>
            <div class="card col-xl-6 col-lg-6 " id="sample-login">
                <form method="post"> 
                    {%csrf_token%}
                <div class="card-header">
                    <h4>QUIZ</h4>
                </div>
                <div class="card-body pb-0">
                    <p class="text-muted">Give a name for this quiz</p>
                    <div class="form-group">
                    <label>Name</label>
                    <div class="input-group">
                        {{form.title}}
                        {{form.media}}
                    </div>
                    </div>
                    <h6>give a time-period (if you don't, default values will be given) </h6>
                    <div class="form-group">
                        <label>available from:</label>
                        {{form.start_date}}
                      </div>
                    <div class="form-group mb-0">
                    </div>
                    <div class="form-group">
                        <label>available to:</label>
                        {{form.limited_date}}
                      </div>
                    <div class="form-group mb-0">
                    </div>
                </div>
                <div class="card-footer  justify-content-center d-flex">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{%static 'assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>
  {%endblock%}